<!DOCTYPE html>
<html lang="en" xmlns:th=“http://www.thymeleaf.org”>
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title></title>
    <style>
        .container {
            padding-top: 10%;
            width: 400px;
            margin: auto;
            text-align: center;
        }
    </style>
</head>

<body>

<div class="container">

    <h1>LISTA LOKATORÓW</h1>

    <br>

    <div>
        <a href="/lokatorzy">
            <button type="button" class="btn btn-dark">Lokatorzy</button>
        </a>
        <a href="/lokale">
            <button type="button" class="btn btn-dark">Mieszkania</button>
        </a>
        <a href="/spoldzielnie">
            <button type="button" class="btn btn-dark">Spółdzielnie</button>
        </a>
        <a href="/">
            <button type="button" class="btn btn-dark">&#8962</button>
        </a>
    </div>

    <br>

    <div>
        <a href="/lokator-dodaj">
            <button type="button" class="btn btn-dark">Dodaj</button>
        </a>
    </div>

    <br>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Płeć</th>
            <th>Mieszkanie</th>
            <th>Narzędzia</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="occupant: ${occupants}">
            <th>
                <a th:href="'/lokator/' + ${occupant.id}">
                    <p th:text="${occupant.firstName}"></p>
                </a>
            </th>
            <th th:text="${occupant.lastName}"></th>
            <th th:text="${occupant.gender}"></th>
            <th th:text="${occupant.flat.community.street} + ' ' + ${occupant.flat.community.number}  + '/' + ${occupant.flat.number}"></th>
            <th>
                <a th:href="'/lokator-edytuj/' + ${occupant.id}">
                    <button type="button" class="btn btn-dark">Edytuj</button>
                </a>
                <a th:href="'/lokator-usun/' + ${occupant.id}">
                    <button type="button" class="btn btn-dark">Usuń</button>
                </a>
            </th>
        </tr>
        </tbody>
    </table>


</div>

</body>
</html>